body{
    color: white;
    margin: 0;
    font-family: Montserrat;
    background-color: #f9f8fd   ;
}
footer{
    height: 10rem;
    background-color: #1D1B1B ;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    margin-right: 1rem;
}
.container{
    padding: 1rem;
    color: black;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #21FA53 ;
}
.boxContent div {
    display:  flex;
}
section {
    background-color: #e7e2df;
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    text-align: center;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.144) 1rem 1rem 1rem;
}
.container .boxContent section img {
    margin: 1rem;
}
header{
    height: 100vh;
    background: #1D1B1B;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
header nav div{
    display: flex;
    align-items: center;
}
header nav div h3{
    margin-left: 1rem;
}
header nav .listAboutMe { 
    display: flex;
    list-style-type: none;
}
header nav .listAboutMe li {
    margin-right: 1rem;
}

header .contentHeader {
    text-align: center;
    margin-top: 15rem;
}
header .contentHeader div {
    margin-top: 13rem;
}


@media(max-width: 760px){
    body{ 
        font-size: 15px;
    }
    header .contentHeader {
        font-size: 11px;
    }
    header nav .listAboutMe li {
        visibility: hidden;
    }
    .container .boxContent div {
        display: inline;
    }
    section {
        background-color: #e7e2df;
        width: 20rem;
        height: 15rem;
        border-radius: 1rem;
        text-align: center;
        margin: 2rem;
        box-shadow: rgba(0, 0, 0, 0.144) 1rem 1rem 1rem;
        font-size: 15px;
    }
    section img {
        width: 150px;
        height: 150px;
    }
    footer{
        font-size: 13px;
    }
}